h1 {
    font-size: 13px;
}
thead {
    background-color: darkblue;
    color: white;
}

#thresholdWatchedPercentage {
    width: 40px;
}

td {
    white-space: nowrap
}

.copyright {
    font-size: 8px;
    text-align: right;
}

.date {
    font-style: italic;
}